<ion-modal-view>
  <ion-header-bar style='background-color: #212121'>
    <h1 class="title" style="color: #fff">Subiendo Foto</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>

    <ion-content class="padding"  style='background-color: rgb(234, 234, 234);'>
    <div style="height: 40px"></div>
    <h3 style="text-align: center; color: #666; margin-top: 7px;">Mensaje de foto</h3>

           <textarea ng-model="foto.comentario" style='height: 90px !important' class='textAreaNota'></textarea>
          <div style="margin-top: 10px; width: 90%; margin-left: 5%;" class="list">
            <label class="item item-input item-select">
              <div id="_label-0" aria-label="
              Prioridad
              " class="input-label">
              Prioridad
              </div>
              <select ng-model='foto.prioridad'>
                <option value="1">Baja</option>
                <option value="2" selected="">Media</option>
                <option value="3">Alta</option>
              </select>
            </label>
          </div>
          <center>
            <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center">
                <div class='row'>
        <div class='col' style="text-align: center">
        <button ng-show="imgURI !== undefined" class="button  colorCliente" ng-click="enviarFoto(foto.comentario, foto.prioridad)">
            Enviar
        </button>
        </div>
        </div>

        </center>
  </ion-content>
</ion-modal-view>
