<ion-view view-title="Chats" >

<ion-nav-title >
     <img src='img/logo.png' height='90'><span></span>
</ion-nav-title>

  <ion-content  style='background-color: rgb(234, 234, 234);'>
        <div class='row'>
        <div class='col' style="text-align: center">
        <button class="button  colorCliente" ng-click="takePhoto()">
            Tomar Foto
        </button>
        </div>
        </div>
        <!--
        <div class='col col-50' style="text-align: center">
        <button class="button   colorCliente" ng-click="choosePhoto()">
            Seleccionar foto
        </button>
        </div>
        -->
        <center>
        <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center">
                <div class='row'>
        <div class='col' style="text-align: center">
        <button class="button  colorCliente" ng-click="enviarFoto()">
            Enviar
        </button>
        </div>
        </div>

        </center>
  </ion-content>
</ion-view>
