<ion-view view-title="Account">

<ion-nav-title >
     <img src='img/logo.png' height='50'><span></span>
</ion-nav-title>


  <ion-content style='background-color: rgb(234, 234, 234);'>
  <ion-refresher
    pulling-text="Arrastre para refrescar..."
    on-refresh="actualizarNotas()">
  </ion-refresher>

   <div class="card" ng-repeat="nota in notas">
      <div class="item item-divider">
      {{nota.fechaCreated}} <i ng-click='archivarNota({{nota.id}});' class='ion-ios-box btnArchivar'></i> 
      </div>
      <div class="item item-text-wrap">
      {{nota.comentario}}
      </div>
    </div>


  </ion-content>
</ion-view>
