
<ion-tabs  class="tabs-icon-top tabs-color-active-positive" >

 <!-- nuevaTarea Tab -->
  <ion-tab title="Nueva Tarea" icon-off="ion-camera" icon-on="ion-camera" href="#/tab/nuevaTarea">
    <ion-nav-view name="tab-nuevaTarea"></ion-nav-view>
  </ion-tab>


  <!-- nuevaNota Tab -->
  <ion-tab title="Nueva Nota" icon-off="ion-edit" icon-on="ion-edit" href="#/tab/nuevaNota">
    <ion-nav-view name="tab-nuevaNota"></ion-nav-view>
  </ion-tab>

 
  <!--  listaNotas Tab -->
  <ion-tab title="Notas" icon-off="ion-document-text" icon-on="ion-document-text" href="#/tab/listaNotas" >
    <ion-nav-view name="tab-listaNotas"></ion-nav-view>
  </ion-tab>


</ion-tabs>
